@import "tailwindcss";

@theme {
  --font-title: 'Raleway', sans-serif;
  --font-body: 'Poppins', sans-serif;

  --color-*: initial;
  --color-dark: #28262C;
  --color-primary: #D4C2FC;
  --color-secondary: #998FC7;
  --color-white: #F9F5FF;
  --color-red: #FF0000;
  --color-transparent: transparent;
}

html {
  overflow-x: hidden;
}

body {
  @apply font-body bg-dark text-white;
}

a {
  @apply text-secondary hover:text-primary ease-in-out duration-150;
}

h1 {
  @apply text-2xl
}

h2 {
  @apply text-xl
}

h3 {
  @apply text-lg
}

button {
  @apply p-2 bg-secondary text-white rounded-lg hover:bg-primary cursor-pointer ease-in-out duration-150;
}

.form-group {
  @apply flex flex-1 flex-col w-full;

  input {
    @apply p-2 border border-secondary rounded-lg hover:bg-white/20 ease-in-out duration-150 text-[12px];
  }
}

.error-message {
  @apply text-red text-sm mb-4 text-center;
}

