@import "tailwindcss";

@theme {
  --font-title: 'Raleway', sans-serif;
  --font-body: 'Poppins', sans-serif;

  --color-*: initial;
  --color-raisin: #28262C;
  --color-indigo: #998FC7;
  --color-indigo-light: #D4C2FC;
  --color-magnolia: #F9F5FF;
  --color-blue: #14248A;
}

html {
  overflow-x: hidden;
}

body {
  @apply font-body;
}