@import 'tailwindcss';

@theme {
  /* Main Variables */
  --font-title: 'Raleway', sans-serif;
  --font-body: 'Poppins', sans-serif;
  --color-*: initial;
  --color-dark: rgb(2, 4, 32);
  --color-grey: rgb(30, 41, 59);
  --color-primary: rgb(0, 220, 130);
  --color-secondary: rgb(8, 59, 44);
  --color-white: #f9f5ff;
  --color-red: #ff0000;
  --color-yellow: #ffd700;
  --color-transparent: transparent;

  /* Gradient Colors */
  --color-grad-grey-1: rgb(51, 65, 85);
  --color-grad-grey-2: rgb(15, 23, 42);
}

html {
  overflow-x: hidden;
}

body {
  @apply font-body bg-dark text-white;
}

a {
  @apply text-primary hover:text-white transition ease-in-out duration-250;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

.form-group {
  @apply flex flex-1 flex-col w-full;

  input {
    @apply p-2 border border-primary bg-white text-dark rounded-lg text-[12px] focus:outline-none focus:bg-white;
  }
}

.error-message {
  @apply text-red text-sm mb-4 text-center;
}

/* width */
::-webkit-scrollbar {
  @apply w-[10px] h-[10px];
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-grey rounded-[10px] my-[0.2rem];
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary/70 rounded-[10px];
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary/100;
}
